/* General section start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
min-height: 100vh;
width: 100%;
display: flex;
}

main {
    background-color: #F5F5F5;
}

/* General section end */

/* ----------------------------------------------------------------- */

/* Sidebar section start */

.sidebar {
    min-width: 35%;
    background-image: url(images/sidebar-pic.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.sidebar-banner {
    background-color: rgba(255, 166, 0, 0.6);
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    padding: 10% 0;
}

.sidebar-banner h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}

.author-recognition {
    text-align: center;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.sidebar a:visited, .sidebar a:link {
    color: black;
}

/* Sidebar section end */

/* ----------------------------------------------------------------- */

/* Main section - banner section start */

.banner-section {
    /* min-height: 35%; */
    text-align: left;
    padding: 10% 5% 7.5% 5%;
}

.banner-section h3 {
    /* font-size: 1.75rem; */
    font-size: clamp(1rem, 1.75rem, 2.2rem);
    max-width: 85%;
    /* margin-bottom: 30px; */
}

.banner-section h3:first-child {
    margin-bottom: 30px;
}

/* Main section - banner section end */

/* ----------------------------------------------------------------- */

/* Main section - form section start */

.form-section{
    background-color: white;
    padding-left: 5%;
    padding-bottom: 7.5%;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.form-section h5 {
    font-size: 1.5rem;
    padding: 3% 0;
}

.form-section form {
    display: flex;
    gap: 50px;
}


.column1, .column2 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 1rem;
}

.column1 > label , .column2 > label {
    margin-bottom: -10px;
}

.column1 > input, .column2 > input{
    padding: 5px;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
}

input:focus {
    border: 1.5px solid orange;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    border-radius: 2px;
}

/* Main section - form section end */

/* ----------------------------------------------------------------- */

/* Main section - submit section start */

.submit-section .wrapper {
    padding: 2.5% 5%;
}

.submit-section button {
    background-color: orange;
    padding: 5px 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Main section - submit section end */
